.cwWindowOutter{
	background:url(../imgs/panel.png)  no-repeat;
	width:600px;
	height:500px;
	position:absolute;
}
.cwWindowContentTitle{
	width:580px;
	height:28px;
	margin:1px 10px 1px 10px;
}
.cwWindowContentContainer{
	width:580px;
	height:452px;
	margin:2px 10px 10px 10px;
	background:#fff;
}